/* profile */
.Profile {
  width: 423px;
  height: 568px;

  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* info */

.Profile__info {
  width: 423px;
  height: 137px;
  margin: 430.7px 0.4px 0.3px 0;
  padding: 72.1px 29.3px 22.9px 27px;
}

.Profile--name {
  width: 61px;
  height: 29px;
  margin: 8.6px 83.1px 4.4px 68.6px;
  font-family: S-CoreDream-6;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.48px;
  text-align: left;
  color: #e6e6e6;
}

.Profile--major {
  width: 112px;
  height: 21px;
  margin: 11.4px 0 9.6px 83.1px;
  font-family: S-CoreDream-6;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -1.8px;
  text-align: left;
  color: #eaeaea;
}
